# //0.0.0.0:4873/:_authToken="ftMd4+69fCQ3n/3EhZWc2w=="
registry=https://packages.aliyun.com/5f6426fcdb0493ecef9118ab/npm/npm-registry/
//packages.aliyun.com/5f6426fcdb0493ecef9118ab/npm/npm-registry/:_authToken=8189340c-e582-4d1d-9f9f-1cb14eb832ee
home=https://www.npmjs.org

# registry=https://registry.npmjs.org
#  No newline at end of file
